<div class="our_food_section">
   <div class="container">
      <div class="our_food_row">
         <div class="our_food_left">
            <div class="our_food_cover">
               <div class="our_food_caption">
                  <h6>About Our Food</h6>
               </div>
               <div class="our_food_heading">
                  <h2>Share Your<span class="color_chang"> Pizza Lover</span></h2>
               </div>
               <div class="our_food_content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
               </div>
               <div class="button our_food_btn">
                  <a class="magnetic" href="#"><div class="">Order Now</div></a>
               </div>
            </div>
         </div>
         <div class="our_food_right">
            <div class="our_food_thumbnail">
               <img class="hafa_pizaa" src="../images/hafa_pizaa.png" alt="vegtables">
               <div class="our_food_vagetabl">
                  <img class="onine" src="../images/onine.png" alt="vegtables">
                  <img class="pan" src="../images/pan.png" alt="vegtables">
                  <img class="lot" src="../images/lot.png" alt="vegtables">
                  <img class="laving" src="../images/laving.png" alt="vegtables">
                  <img class="grlica" src="../images/grlica.png" alt="vegtables">
                  <img class="marich" src="../images/marich.png" alt="vegtables">
                  <img class="green_mirch" src="../images/green mirch.png" alt="vegtables">
                  <img class="pizaa_tomto" src="../images/pizaa tomto.png" alt="vegtables">
                  <img class="pizza_cut" src="../images/pizza cut.png" alt="vegtables">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>