<div class="Add_section">
    <div class="container">
        <div class="Add_row">
            <div class="Add_right">
                <div class="Add_thumbnail">
                    <img src="../images/Add.png" alt="vegtables" />
                </div>
            </div>
            <div class="Add_left">
                <div class="Add_cover">
                    <div class="our_food_caption">
                        <h6>About Our Food</h6>
                    </div>
                    <div class="Add_heading">
                        <h2>Add Anything<span class="color_chang"> You Want</span></h2>
                    </div>
                    <div class="Add_content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmodtempor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
