<div class="custmer_section">
    <div class="container">
        <div class="custmer_heading">
            <h2>Customer <span>Reviews...</span></h2>
        </div>
        <div class="customer_row">
            <div class="custmer_box">
                <div class="custmer_bio_box">
                    <div class="custmer_image">
                        <img src="https://4335902.fs1.hubspotusercontent-na1.net/hubfs/4335902/image%2019.png" atl="image" />
                    </div>
                    <div class="custmer_name">
                        <h6>
                            Lucia Jhonson
                        </h6>
                    </div>
                    <div class="top_btn">December 22</div>
                </div>
                <div class="custmer_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>
                </div>
                <div class="custmer_star_img">
                    <img src="https://4335902.fs1.hubspotusercontent-na1.net/hubfs/4335902/star-1.png" atl="image" />
                </div>
            </div>
            <div class="custmer_box">
                <div class="custmer_bio_box">
                    <div class="custmer_image">
                        <img src="https://4335902.fs1.hubspotusercontent-na1.net/hubfs/4335902/image%2019.png" atl="image" />
                    </div>
                    <div class="custmer_name">
                        <h6>
                            Lucia Jhonson
                        </h6>
                    </div>
                    <div class="top_btn">December 22</div>
                </div>
                <div class="custmer_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>
                </div>
                <div class="custmer_star_img">
                    <img src="https://4335902.fs1.hubspotusercontent-na1.net/hubfs/4335902/star-1.png" atl="image" />
                </div>
            </div>
            <div class="custmer_box">
                <div class="custmer_bio_box">
                    <div class="custmer_image">
                        <img src="https://4335902.fs1.hubspotusercontent-na1.net/hubfs/4335902/image%2019.png" atl="image" />
                    </div>
                    <div class="custmer_name">
                        <h6>
                            Lucia Jhonson
                        </h6>
                    </div>
                    <div class="top_btn">December 22</div>
                </div>
                <div class="custmer_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>
                </div>
                <div class="custmer_star_img">
                    <img src="https://4335902.fs1.hubspotusercontent-na1.net/hubfs/4335902/star-1.png" atl="image" />
                </div>
            </div>
            <div class="custmer_box">
                <div class="custmer_bio_box">
                    <div class="custmer_image">
                        <img src="https://4335902.fs1.hubspotusercontent-na1.net/hubfs/4335902/image%2019.png" atl="image" />
                    </div>
                    <div class="custmer_name">
                        <h6>
                            Lucia Jhonson
                        </h6>
                    </div>
                    <div class="top_btn">December 22</div>
                </div>
                <div class="custmer_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>
                </div>
                <div class="custmer_star_img">
                    <img src="https://4335902.fs1.hubspotusercontent-na1.net/hubfs/4335902/star-1.png" atl="image" />
                </div>
            </div>
        </div>
    </div>
</div>
