<div class="customise_section">
    <div class="container">
        <div class="customise_cover">
            <div class="our_food_caption">
                <h6>About Our Food</h6>
            </div>
            <div class="customise_heading">
                <h2>Customise your<span class="color_chang"> Pizza</span></h2>
            </div>
            <div class="customise_content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmodtempor</p>
            </div>
        </div>
        <div class="customise_row">
            <div class="customise_box">
                <div class="customise_box_cover">
                    <div class="customise_thumbnail">
                        <img src="../images/Capsicum.png" alt="vegtables" />
                    </div>
                    <div class="customise_box_heading">
                        <h4>Capsicum</h4>
                    </div>
                </div>
            </div>
            <div class="customise_box">
                <div class="customise_box_cover">
                    <div class="customise_thumbnail">
                        <img src="../images/Aubergine.png" alt="vegtables" />
                    </div>
                    <div class="customise_box_heading">
                        <h4>Aubergine</h4>
                    </div>
                </div>
            </div>
            <div class="customise_box">
                <div class="customise_box_cover">
                    <div class="customise_thumbnail">
                        <img src="../images/Tometo.png" alt="vegtables" />
                    </div>
                    <div class="customise_box_heading">
                        <h4>Tometo</h4>
                    </div>
                </div>
            </div>
            <div class="customise_box">
                <div class="customise_box_cover">
                    <div class="customise_thumbnail">
                        <img src="../images/Onion.png" alt="vegtables" />
                    </div>
                    <div class="customise_box_heading">
                        <h4>Onion</h4>
                    </div>
                </div>
            </div>
            <div class="customise_box">
                <div class="customise_box_cover">
                    <div class="customise_thumbnail">
                        <img src="../images/Pineapple.png" alt="vegtables" />
                    </div>
                    <div class="customise_box_heading">
                        <h4>Pineapple</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
