<div class="delivery_section">
    <div class="container">
        <div class="delivery_row">
            <div class="delivery_left_part">
                <h2>Choose what You watnt, select <span>A pick Up Time</span></h2>
                <div class="delivery_text">
                    <p>
                        As well known and we are very busy all days adviceyou. advice you to call us of before arriving, so we canguarantee your seat.
                    </p>
                </div>
                <div class="button delivery_btn">
                    <a href="#">Order Now</a>
                </div>
            </div>
            <div class="delivery_center_part">
                <img src="../images/bike boy.png" alt="image" />
            </div>

            <div class="delivery_right_part">
                <h2>Earn Points Every Time <span>You Order Online</span></h2>
                <div class="delivery_text">
                    <p>
                        As well known and we are very busy all days adviceyou. advice you to call us of before arriving, so we canguarantee your seat.
                    </p>
                </div>
                <div class="button delivery_btn">
                    <a href="#">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>