<div class="burger_section">
    <div class="container">
        <div class="burger_cover">
            <div class="burger_row">
                <div class="burger_right">
                    <div class="burger_caption">
                        <h6>Today’s Best Deal</h6>
                    </div>
                    <div class="burger_heading">
                        <h2>Super Delicious <span>Burger</span></h2>
                    </div>
                    <div class="burger_content">
                        <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmodtempor incididunt ut...</p>
                    </div>
                    <div class="button burger_btn">
                        <a href="#">Order Now</a>
                    </div>
                </div>
                <div class="burger_left">
                    <div class="burger_thumbnail">
                        <img src="../images/kingbugger.png" alt="vegtables" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>