<div class="discount_section">
    <div class="container">
        <div class="discount_heading">
            <h4>Discounts by promo code:<span class="discount_underline"> FLYINGFOOD 21</span></h4>
        </div>
        <div class="discount_row">
            <div class="discount_colm">
                <div class="discount_box">
                    <div class="discount_thumbnail">
                        <img class="wisconsin_thumbnail"src="../images/sodacan.png" alt="vegtables">
                    </div>
                </div>
            </div>
            <div class="discount_colm">
                <div class="discount_box">
                    <div class="discount_thumbnail">
                        <img class="wisconsin_thumbnail"src="../images/pngwing.png" alt="vegtables">
                    </div>
                </div>
            </div>
            <div class="discount_colm">
                <div class="discount_box">
                    <div class="discount_thumbnail">
                        <img class="wisconsin_thumbnail"src="../images/chipes.png" alt="vegtables">
                    </div>

                </div>
            </div>
            <div class="discount_colm">
                <div class="discount_btn_row">
                    <div class="button discount_btn">
                        <a class="magnetic" href="#"><div class="">$21.99</div></a>
                    </div>
                    <div class="button discount_btn2">
                        <a  class="magnetic" href="#"><div class=""><i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to cart</div></a>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>