<div class="american_pizza_section" style="background-image: url(../images/bgimg.png);">
    <div class="container">
        <div class="american_pizza_row">
            <div class="american_pizza_left">
                <div class="american_pizza_thumbnail">
                    <img src="../images/americanpizza.png" alt="vegtables" />
                </div>
            </div>
            <div class="american_pizza_right">
                <div class="our_food_caption american_pizza_caption">
                    <h6>About Our Food</h6>
                </div>
                <div class="american_pizza_heading">
                    <h2>From Texas With<span> American Love</span></h2>
                </div>
                <div class="american_pizza_content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
