<div class="pizza_section">
   <div class="container">
      <div class="pizza_shap">
         <svg viewBox="0 0 1518 445" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 80.4435C0 34.1913 39.1065 -2.42381 85.2587 0.616514L1471.29 91.9227C1497.57 93.654 1518 115.476 1518 141.815V415C1518 431.569 1504.57 445 1488 445H30C13.4315 445 0 431.569 0 415V80.4435Z" fill="url(#paint0_linear_135_1013)"/>
            <defs>
               <linearGradient id="paint0_linear_135_1013" x1="759" y1="7" x2="759" y2="445" gradientUnits="userSpaceOnUse">
                  <stop offset="0.354621" stop-color="#FA582A"/>
                  <stop offset="1" stop-color="#BA2F07"/>
               </linearGradient>
            </defs>
         </svg>
         <div class="pizza_thumbnail">
            <img src="../images/pizaa-shap.png" alt="bugger">
         </div>
      </div>
      <div class="pizza_row">
         <div class="pizza_left">
            <div class="pizza_images">
               <img src="../images/pizza.png" alt="bugger">
               <img src="../images/pizza.png" alt="bugger">
               <img src="../images/pizza.png" alt="bugger">
            </div>
         </div>
         <div class="pizza_center">
            <div class="pizza_cover">
               <div class="pizza_heading">
                  <h2>Unlimited <span class="text_color_chang">Pizza</span></h2>
               </div>
               <div class="pizza_content">
                  <p>*Additional charge for premium toppings. Minimum of 2 required.</p>
               </div>
               <div class="pizza_price">
                  <h5>$12.99</h5>
                  <div class=" button pizza_btn">
                     <a class="magnetic" href="#"><div class="">Order Now</div></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="pizza_right">
            <img src="../images/tomto.png" alt="bugger">
         </div>
      </div>
   </div>
</div>