<div class="Popular_section">
    <div class="container">
        <div class="Popular_row">
            <div class="Popular_left">
                <div class="Popular_heading">
                    <h2>Popular<span class="color_chang"> Dishes...</span></h2>
                </div>
            </div>
            <div class="Popular_right">
                <div class="Popular_btn">
                    <a href="#">See All<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="Popular_row_2">
            <div class="Popular_box">
                <div class="Popular_cover">
                    <div class="Popular_thumbnail">
                        <img src="../images/margerita.png" alt="vegtables" />
                    </div>
                    <div class="Popular_img_with_icon">
                        <img src="../images/star.png" alt="vegtables" />
                        <span class="heart_icone">
                            <a href=""> <i class="fa fa-heart" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="Popular_box_heading">
                        <h6>Margerita Pizza</h6>
                    </div>
                    <div class="Popular_content">
                        <p>It is a long established fact that a reader will be distracted by the layout...</p>
                    </div>
                    <div class="Popular_box_bottom">
                        <div class="Popular_price">
                            <span class="price_one">$9.80</span>
                            <span class="price_two">$11.80</span>
                        </div>
                        <div class="cart_icon">
                            <a href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Popular_box">
                <div class="Popular_cover">
                    <div class="Popular_thumbnail">
                        <img src="../images/baoul.png" alt="vegtables" />
                    </div>
                    <div class="Popular_img_with_icon">
                        <img src="../images/star.png" alt="vegtables" />
                        <span class="heart_icone">
                            <a href=""> <i class="fa fa-heart" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="Popular_box_heading">
                        <h6>Green Salad</h6>
                    </div>
                    <div class="Popular_content">
                        <p>It is a long established fact that a reader will be distracted by the layout...</p>
                    </div>
                    <div class="Popular_box_bottom">
                        <div class="Popular_price">
                            <span class="price_one">$9.80</span>
                            <span class="price_two">$11.80</span>
                        </div>
                        <div class="cart_icon">
                            <a href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Popular_box">
                <div class="Popular_cover">
                    <div class="Popular_thumbnail">
                        <img src="../images/margerita.png" alt="vegtables" />
                    </div>
                    <div class="Popular_img_with_icon">
                        <img src="../images/star.png" alt="vegtables" />
                        <span class="heart_icone">
                            <a href=""> <i class="fa fa-heart" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="Popular_box_heading">
                        <h6>Margerita Pizza</h6>
                    </div>
                    <div class="Popular_content">
                        <p>It is a long established fact that a reader will be distracted by the layout...</p>
                    </div>
                    <div class="Popular_box_bottom">
                        <div class="Popular_price">
                            <span class="price_one">$9.80</span>
                            <span class="price_two">$11.80</span>
                        </div>
                        <div class="cart_icon">
                            <a href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Popular_box">
                <div class="Popular_cover">
                    <div class="Popular_thumbnail">
                        <img src="../images/baoul.png" alt="vegtables" />
                    </div>
                    <div class="Popular_img_with_icon">
                        <img src="../images/star.png" alt="vegtables" />
                        <span class="heart_icone">
                            <a href=""> <i class="fa fa-heart" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <div class="Popular_box_heading">
                        <h6>Green Salad</h6>
                    </div>
                    <div class="Popular_content">
                        <p>It is a long established fact that a reader will be distracted by the layout...</p>
                    </div>
                    <div class="Popular_box_bottom">
                        <div class="Popular_price">
                            <span class="price_one">$9.80</span>
                            <span class="price_two">$11.80</span>
                        </div>
                        <div class="cart_icon">
                            <a href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
