<div class="pizza_done_section">
    <div class="container">
        <div class="pizza_done_cover">
            <div class="our_food_caption">
                <h6>About Our Food</h6>
            </div>
            <div class="pizza_done_heading">
                <h2>Your Pizza is<span class="color_chang"> Done!!!</span></h2>
            </div>
        </div>
        <div class="pizza_done_row">
            <div class="pizza_done_thumbnail">
                <img src="../images/done.png" alt="vegtables" />
            </div>
        </div>
    </div>
</div>
