<div class="Production_section">
  <div class="container">
    <div class="Production_row">
      <div class="Production_left">
        <div class="Production_heading">
          <h3>Our <span class="color_chang">Production</span></h3>
        </div>
      </div>
      <div class="Production_right">
        <div class="Production_menu">
          <ul>
            <li>
              <a class="magnetic" href="#">
                 <div>Burgers</div>
              </a>
            </li>
            <li>
              <a class="magnetic" href="#">
                <div>Pizza</div>
              </a>
            </li>
            <li>
              <a class="magnetic" href="#">
                  <div>Ice Cream</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Production_row_2">
      <div class="Production_colm_2">
        <div class="Production_cover">
          <div class="Production_thumbnail">
            <img class="Production_image" src="../images/wing.png" alt="bugger">
            <img class="Production_hover_thumbnail" src="../images/bugger.png" alt="bugger">
          </div>
          <div class="Production_text_inner_cover">
            <div class="Production_inner_heading">
              <h5>Burger King</h5>
            </div>
            <div class="Production_innner_sub_heading">
              <p>Available</p>
            </div>
            <div class="Production_inner_thumbnail">
              <img src="../images/star.png" alt="bugger">
            </div>
            <div class="Production_inner_price">
              <h5>$10.99 </h5>
            </div>
          </div>
          <div class="button Production_btn">
            <a class="magnetic" href="#"><div class="">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to cart </div></a>
          </div>
        </div>
      </div>
      <div class="Production_colm_2">
        <div class="Production_cover">
          <div class="Production_thumbnail">
            <img class="Production_image" src="../images/wing.png" alt="bugger">
            <img class="Production_hover_thumbnail" src="../images/bugger.png" alt="bugger">
          </div>
          <div class="Production_text_inner_cover">
            <div class="Production_inner_heading">
              <h5>Burger King </h5>
            </div>
            <div class="Production_innner_sub_heading">
              <p>Available</p>
            </div>
            <div class="Production_inner_thumbnail">
              <img src="../images/star.png" alt="bugger">
            </div>
            <div class="Production_inner_price">
              <h5>$10.99 </h5>
            </div>
          </div>
          <div class="button Production_btn">
            <a class="magnetic" href="#"><div class="">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to cart </div></a>
          </div>
        </div>
      </div>
      <div class="Production_colm_2">
        <div class="Production_cover">
          <div class="Production_thumbnail">
            <img class="Production_image" src="../images/wing.png" alt="bugger">
            <img class="Production_hover_thumbnail" src="../images/bugger.png" alt="bugger">
          </div>
          <div class="Production_text_inner_cover">
            <div class="Production_inner_heading">
              <h5>Burger King</h5>
            </div>
            <div class="Production_innner_sub_heading">
              <p>Available</p>
            </div>
            <div class="Production_inner_thumbnail">
              <img src="../images/star.png" alt="bugger">
            </div>
            <div class="Production_inner_price">
              <h5>$10.99 </h5>
            </div>
          </div>
          <div class="button Production_btn">
            <a class="magnetic" href="#"><div class="">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to cart </div></a>
          </div>
        </div>
      </div>
      <div class="Production_colm_2">
        <div class="Production_cover">
          <div class="Production_thumbnail">
            <img class="Production_image" src="../images/wing.png" alt="bugger">
            <img class="Production_hover_thumbnail" src="../images/bugger.png" alt="bugger">
          </div>
          <div class="Production_text_inner_cover">
            <div class="Production_inner_heading">
              <h5>Burger King</h5>
            </div>
            <div class="Production_innner_sub_heading">
              <p>Available</p>
            </div>
            <div class="Production_inner_thumbnail">
              <img src="../images/star.png" alt="bugger">
            </div>
            <div class="Production_inner_price">
              <h5>$10.99 </h5>
            </div>
          </div>
          <div class="button Production_btn">
            <a class="magnetic" href="#"><div class="">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to cart </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>