<div class="wisconsin_section">
    <div class="container">
        <div class="wisconsin_row">
            <div class="wisconsin_left">
                <div class="wisconsin_heading">
                    <h3>Wisconsin <span>Burger</span></h3>
                </div>
                <div class="our_food_caption wisconsin_heading">
                    <h6>Available</h6>
                </div>
                <div class="wisconsin_star_thumbnail">
                    <img src=" ../../dist/star.ec8b1235.png" alt="vegtables">
                </div>
                <div class="wisconsin_content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi laborum.</p>
                </div>
                <div class="wisconsin_btn_row">
                    <div class="button wisconsin_btn">
                        <a class="magnetic" href="#"><div class="">$10.99</div></a>
                    </div>
                    <div class="button wisconsin_btn2">
                        <a  class="magnetic" href="#"><div class=""><i class="fa fa-shopping-basket" aria-hidden="true"></i>$10.99</div></a>
                    </div>
                </div>
            </div>
            <div class="wisconsin_right">
                <div class="wisconsin_bg_thumbnail">
                    <img class="wisconsin_thumbnail"src="../images/ourhero.png" alt="vegtables">
                </div>
            </div>
        </div>           
    </div>
</div>