<div class="choose_section" style="background-image: url(../images/Vector.png);">
    <div class="container">
        <div class="our_food_caption choose_heading">
            <h6>
                our services
            </h6>
            <h2>why <span>choose Us</span></h2>
            <div class="choose_text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet molestie turpis ut consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit lectus,
                </p>
            </div>
        </div>
        <div class="choose_row">
            <div class="choose_box">
                <div class="choose_image">
                    <img src="../images/chef.png" alt="image" />
                </div>
                <h4>
                    Best Cheaf
                </h4>
                <div class="choose_box_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet molestie turpis ut consequat. Lorem ipsum dolor sit amet,
                    </p>
                </div>
            </div>
            <div class="choose_box">
                <div class="choose_image">
                    <img src="../images/chef_1.png" alt="image" />
                </div>
                <h4>
                    Fresh Food
                </h4>
                <div class="choose_box_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet molestie turpis ut consequat. Lorem ipsum dolor sit amet,
                    </p>
                </div>
            </div>
            <div class="choose_box">
                <div class="choose_image">
                    <img src="../images/chef_2_.png" alt="image" />
                </div>
                <h4>
                    Fast Delivery
                </h4>
                <div class="choose_box_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet molestie turpis ut consequat. Lorem ipsum dolor sit amet,
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
