<div class="footer_section" style="background-image: url(../images/foterbg.png);">
    <div class="container">
        <div class="footer_thumbnail">
            <img data-scroll data-scroll-speed="5" data-scroll-position="bottom" data-scroll-class="appear" data-scroll-repeat="true" src="../images/footerimg.png" alt="image" />
            <div class="footer_cover">
                <h2>Enjoy <span class="footer_color_chang">3000+</span> foods from <span class="footer_chang_color">400</span> Restaurants</h2>
                <div class="button delivery_btn" data-scroll data-scroll-speed="2" data-scroll-position="bottom">
                    <a href="#">Order Now</a>
                </div>
            </div>
        </div>

        <div class="footer_row">
            <div class="footer_left">
                <div class="header_main">
                    <h4>Food <span class="color_chang">Zone</span></h4>
                </div>
            </div>
            <div class="footer_ceneter">
                <div class="footer_content">
                    <p>Copyright © 2022, | All Rights Reserved</p>
                </div>
            </div>
            <div class="footer_right">
                <div class="footer_icones">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#" class="colors1"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#" class="colors1"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
