<section class="header_section" data-scroll-sticky>
    <div class="container">
        <div class="header_main_row">
            <div class="header_left_part">
                <div class="header_main">
                    <h4>Food <span class="color_chang">Zone</span></h4>
                </div>
            </div>
            <div class="header_center_part">
                <div class="header_nav_part">
                    <ul> 
                    <li> <a class="magnetic" data-strength="10" data-strength-text="10" href="#"><div class="">About Us</div></a></li>
                    <li> <a class="magnetic" data-strength="10" data-strength-text="10" href="#"><div class="">Menu</div></a></li>
                    <li> <a class="magnetic" data-strength="10" data-strength-text="10" href="#"><div class="">Offers</div></a></li>
                    <li> <a class="magnetic" data-strength="10" data-strength-text="10" href="#"><div class="">Foods</div></a></li>
                    <li> <a class="magnetic" data-strength="10" data-strength-text="10" href="#"><div class="">Services</div></a></li>
                    </ul>
                </div>
                <div class="button">
                    <a class="magnetic" data-strength="10" data-strength-text="10" href="#"><div class="">Booking Now</div></a>
                </div>
            </div>
        </div>
    </div>
</section>