html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/locomotive-scroll.css")
    
    block head
  body(data-scroll-container)
    include ../_includes/header.pug 
    block main
    include ../_includes/footer.pug 
    script(src="../js/app.js" type="module" ) 