html
  head
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/locomotive-scroll.css")
    
    block head
  body
    <div class="smooth-scroll">
    include ../_includes/header.pug 
    block main
    include ../_includes/footer.pug 
    </div>
    script(src="../js/app.js" type="module" ) 