extends ./_layouts/layout.pug
block main
    include ./_sections/hero.pug
    include ./_sections/pizza_strip.pug
    include ./_sections/production.pug
    include ./_sections/about-our-food.pug
    include ./_sections/customise-your-pizza.pug
    include ./_sections/add-pizza-value.pug
    include ./_sections/prepare-pizza.pug
    include ./_sections/popular-dishes.pug
    include ./_sections/pizza-off-strip.pug
    include ./_sections/delicious-burger.pug
    include ./_sections/customer-rating.pug
    include ./_sections/why-choose-us.pug
    include ./_sections/delivery-strip.pug
    include ./_sections/customer-reviews.pug
    
    