@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');



/* common css */
 *{ box-sizing:border-box;} 
 body{  margin:0;  font-family: 'Merriweather', serif;  }
img{ max-width:100%; }  
p { margin: 0; padding: 15px 0; font-family: 'Merriweather'; font-weight: 400; font-size: 20px; line-height: 30px; }
h1,h2,h3,h4,h5,h6{ margin:0; font-family: 'Unna', serif;   }
a{text-decoration: none; }
ul { padding: 0; margin: 0; list-style: none; }
 
.button a { background: #4E966E; border-radius: 120px;  font-family: 'Merriweather'; font-weight: 700; font-size: 16px; line-height: 25px; color: #fff; display: inline-block; }
.button a:hover {background-color: var(--text-color-span);color: var(--text-heading);}
.button .magnetic > div{
    padding: 12px 19px;
    z-index: 2;
    color: var(--color-dark);
    pointer-events: none;
    will-change: transform,color;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotate(.001deg); 
}
.button a {
    transition: 0.3s ease color,background;
}

h1 { font-family: 'Unna'; font-style: normal; font-weight: 700; font-size: 88px; line-height: 92px; color: var(--text-heading); }
h2 { font-family: 'Unna'; font-style: normal; font-weight: 700; font-size: 75px; line-height: 80px; color: #000000; }
h3 { font-family: 'Merriweather'; font-style: normal; font-weight: 900; font-size: 60px; line-height: 65px;  letter-spacing: 0.48px; color: var(--text-heading);  }
h4 { font-family: 'Unna'; font-style: normal; font-weight: 700; font-size: 40px; line-height: 46px; color: var(--text-heading); }
h5	{font-family: 'Unna';font-style: normal; font-weight: 700; font-size: 36px; line-height: 41px; color:var(--text-heading); }
h6 { font-family: 'Unna'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 36px; color: var(--text-heading); }


h1 span { color: var(--text-color-span); font-style: italic; }
h2 span { color: var(--text-color-span); font-style: italic; }
h3 span { color: var(--text-color-span); font-style: italic; }
h4 span { color: var(--text-color-span); font-style: italic; }
h5 span { color: var(--text-color-span); font-style: italic; }
h6 span { color: var(--text-color-span); font-style: italic; }




:root{
    --text-color-span:#FA582A;
    --text-heading:  #1A1A1A;
    --three-background:#d3eefe;
}
.container { max-width: 1500px;  padding:0 20px;   margin: 0 auto; }

/*HEADER*/
.header_main_row { display: flex; flex-flow: wrap; align-items: center; background: #000; padding: 17px 21px; border-radius: 0 0 19px 19px; }
.header_left_part { width: 25%; }
.header_center_part { width: 75%; display: flex; flex-flow: wrap; align-items: center; justify-content: right; }
.header_nav_part ul { padding: 0; margin: 0; list-style: none; }
.header_nav_part ul li { display: inline-block; padding: 20px; }
.header_main h4 {  color: #FFFFFF; }
span.color_chang { color: var(--text-color-span); font-style: italic; }
.header_nav_part ul li a { font-family: 'Merriweather'; font-style: normal; font-weight: 700; font-size: 18px; line-height: 23px; text-align: right; color: #FFFFFF; }
.header_nav_part ul li a {position: relative;}
.header_nav_part ul li a > div:before { position: absolute; content: ""; top: 25px; bottom: 0; right: 0; left: 0; width: 0; height: 2px; background-color: var(--text-color-span); display: block; margin: auto; transition: all 0.4s ease; }
.header_nav_part ul li a:hover > div:before { width: 100%; transition: all 0.4s ease; }
.header_nav_part ul li a:hover {color: var(--text-color-span);}
.header_btn a { padding: 12px 16px; background: #4E966E; border-radius: 50px; font-family: 'Merriweather'; font-style: normal; font-weight: 700; font-size: 16px; line-height: 20px; text-align: center; color: #FFFFFF; display: inline-block; }
.header_btn a:hover { background-color: var(--text-color-span); color: var(--text-heading); transition: all 0.4s ease; }
section.header_section { position: relative; }
section.header_section:before { background-image: url(../images/dot.png); background-position: center; background-repeat: no-repeat; left: auto; right: 6px; top: 0; bottom: 0;z-index: -1; position: absolute; content: ""; background-size: cover; min-width: 375px; min-height: 234px; }


/*HERO*/
.hero_row { display: flex; flex-flow: wrap; align-items: center; }
.hero_left { width: 50%; padding-right: 30px; }
.hero_right { width: 50%; padding-left: 50px; }
.hero_content {  color: var(--text-heading); padding-bottom: 14px;font-style: italic; }
.hero_heading { padding-bottom: 20px; }
.button_cover { display: flex;flex-flow: wrap;align-items: center; }
/*.button.hero_btn a { padding: 20px 35px; font-size: 20px; }*/
.hero_thumbnail img { display: block; object-fit: cover; }
.button.hero_second_btn a { background-color: transparent; color: var(--text-heading);padding: 5px 25px; }
.button.hero_btn a i {margin-right: 10px;}
.button.hero_btn {padding-right: 10px;}
.button.hero_second_btn {padding-left: 10px;}
.button.hero_second_btn i { background: #fff; border-radius: 100px; color: #4e966e; box-shadow: 0px 0px 25px rgb(0 0 0 / 10%); margin-right: 20px; width: 60px; height: 60px; display: inline-flex; justify-content: center; align-items: center;font-size: 20px; }
.button.hero_second_btn a:hover i {background-color: var(--text-color-span);color: var(--text-heading);transition: all 0.4s ease;box-shadow: 0px 0px 20px rgb(250 88 42);}
.hero_section { padding: 50px 0; position: relative; }
.hero_section:before { background-image: url(../images/top.png); background-position: bottom left; background-repeat: no-repeat; left: 50px; right: 0; top: auto; bottom: 0; position: absolute; content: ""; background-size: cover; height: 100px; width: 160px; }
.hero_heading { position: relative; }
.hero_heading:after { background-image: url(../images/dot2.png); background-position: bottom left; background-repeat: no-repeat; left: -37px; right: 0;z-index: -1; top: -30px; bottom: 0; position: absolute; content: ""; background-size: cover; height: 159px; width: 160px; }


/*Pizza*/
.pizza_shap { position: relative; }
.pizza_thumbnail img { position: absolute;content: "";top: -169px;right: 0;left: 37px;bottom: 0;border-radius: 100%;transform: translateY(-0%);width: 500px;height: 430px; }
.pizza_section { padding: 100px 0; }
.pizza_row { display: flex; flex-flow: wrap; }
.pizza_left { width: 30%; position: relative; }
.pizza_center { width: 45%; position: relative; }
.pizza_right { width: 25%;position: relative; }
.pizza_heading h2 {color: #fff;}
.pizza_images img { width: 120px; display: inline-block; object-fit: contain; }
.pizza_images img { position: absolute; bottom: 25px; right: 0; left: calc(100% /3 - 80px); top: auto; }
.pizza_cover { position: absolute; top: auto; bottom: 32px; right: 0; left: 0; }
.pizza_cover { text-align: center; max-width: 540px; margin: 0 auto; margin-right: 0; } 
.pizza_right img { position: absolute; top: auto; border: 25;  display: block; object-fit: cover; }
.pizza_right img { position: absolute; content: ""; right: 0; top: auto; bottom: 20px; }
span.text_color_chang { color: #FFCF53; font-style: italic; }
.pizza_content {  text-align: center; color: #fff; }
.pizza_price h5 {  color: #FFFFFF; padding: 0px 0 28px;font-family: 'Merriweather', serif; font-style: italic; }
.button.pizza_btn a { background-color: var(--text-heading);padding: 12px 34px; }
.button.pizza_btn a:hover { background: #4e966e; }
.pizza_images img:nth-child(2) {left: calc(59% - 50px);}
.pizza_images img:nth-child(3) {left: calc(90% - 50px);}
.pizza_section { position: relative; }
.pizza_section:before { background-image: url(../images/round.png); background-position: top right; background-repeat: no-repeat; left: auto; right: 60px; top: 52px; bottom: 0; position: absolute; content: ""; background-size: cover; height: 136px; width: 220px; }
.pizza_border { position: relative; }
.pizza_border img { position: absolute; top: -101px; right: 0; left: 51px; bottom: 0; display: block; object-fit: cover; transform: translateY(-137%); width: 384px; height: 250px; }

/*PRODUCTION*/
.Production_row { display: flex; flex-flow: wrap; align-items: center; }
.Production_left { width: 50%; }
.Production_right { width: 50%; text-align: right; }
.Production_menu ul { margin: 0; padding: 0; list-style: none; }
.Production_menu ul li { display: inline-block; padding: 0 9px; }
.Production_menu ul li a { background: transparent; border-radius: 100px; display: block; padding: 16px 25px; font-family: 'Merriweather'; font-style: normal; font-weight: 900; font-size: 20px; line-height: 25px; text-align: center; letter-spacing: 0.05em; text-transform: uppercase; color: var(--text-heading); border: 1px solid #C5C5C5; transition: all 0.4s ease; }
img.Production_hover_thumbnail {width: 230px;margin: 0 auto;}
.Production_cover:hover img.Production_image {opacity: 0;}
.Production_menu ul li a:hover { background: #4E966E; transition: all 0.4s ease; border-color: #4E966E; color: #ffffff;  }
.Production_row_2 { padding: 75px 0; display: flex; flex-flow: wrap;/*transform: translateY(150px);*/ }
.Production_colm_2 { width: calc(25% - 30px); margin: 15px; }
.Production_cover { padding: 20px; position: relative; transition: all 0.4s ease; border-radius: 10px; }
.Production_text_inner_cover { text-align: center; padding: 20px 0; }
.Production_inner_heading h4 { font-family: 'Unna'; font-weight: 700; font-size: 36px; line-height: 36px; color: #1A1A1E; padding-bottom: 10px; }
.Production_innner_sub_heading  {text-transform: uppercase;color: #999999;font-size:18px;line-height:25px;}
.Production_inner_thumbnail { padding-bottom: 12px; }
.Production_inner_price h5 { font-family: 'Merriweather'; font-weight: 900; font-size: 24px; line-height: 25px; text-align: center; text-transform: uppercase; color: var(--text-heading); }
.button.Production_btn { text-align: center; margin-bottom: -46px; }
.button.Production_btn a { padding: 15px 20px; background: var(--text-color-span); }
.button.Production_btn a i {margin-right: 10px;}
.Production_cover:hover .Production_btn a { background: #035C2C; color: #fff; }
.Production_thumbnail { text-align: center;  transition: all 0.4s ease; }
.Production_cover:hover .Production_thumbnail { margin-top: 0; transition: all 0.4s ease; }
.Production_thumbnail { position: relative; height: 284px; }
.Production_thumbnail img { height: 100%; position: absolute; right: 0; left: 0; top: 0; bottom: 0; object-fit: contain; transition: all 0.4s ease; }
img.Production_hover_thumbnail { opacity: 0; }
.Production_cover:hover .Production_hover_thumbnail { opacity: 1; }
.Production_section { padding: 80px 0; }
.Production_cover:before { position: absolute; top: auto; right: 0; left: 0; bottom: 0; content: ""; background: #ECEFF4; z-index: -1; border-radius: 10px; width: 100%; height: 60%; transition: all 0.4s ease; }
.Production_cover:hover:before { height: 100%; }



/*OUR FOOD*/
.our_food_section { padding: 80px 0; background:var(--three-background); position: relative; }
.our_food_section:before { background-image: url(../images/Shape.png); background-position: top; background-repeat: no-repeat; left: 0; right: 0; top: -127px; bottom: 0; position: absolute; content: ""; background-size: cover; width: 100%; height: 129px; }
.our_food_row { display: flex; flex-flow: wrap; align-items: center; }
.our_food_left { width: 40%; padding: 0 15px; }
/*.our_food_thumbnail img { display: block; object-fit: cover; }*/ 	 	
.our_food_right { width: 60%; padding: 0 15px;position: relative; }
.our_food_content {  color: var(--text-heading); margin-bottom: 20px; }
.button.our_food_btn a { padding: 12px 26px;  background: var(--text-color-span); }
.button.our_food_btn a:hover { background: #035C2C; color: #fff; }
.our_food_caption h6 { color: #035C2C; font-style: italic; }
.hafa_pizaa { display: block; margin: 0 auto; margin-right: 0; width: 618px; }
.onine { position: absolute; top: -110px; left: 221px; right: auto; bottom: 0; }
.lot { position: absolute; top: 11px; right: auto; left: 255px; bottom: 0; }
.green_mirch { position: absolute; top: 235px; left: 142px; bottom: 0; }
.pizza_cut { position: absolute; top: auto; bottom: -3px; right: 0; left: 231px; }
.pan { position: absolute; content: ""; top: -59px; }
.laving { position: absolute; top: 59px; left: 137px; }
.grlica { position: absolute; top: 144px; left: 102px; }
.marich { position: absolute; top: 102px; left: -13px; }
.pizaa_tomto { position: absolute; top: auto; bottom: 160px; }

/*CUSTOMISE*/
.customise_cover { text-align: center; }
.customise_section { padding: 80px 0; background:var(--three-background); }
.customise_content {  color: var(--text-heading); margin-bottom: 20px; }
.customise_box_cover { text-align: center; }
.customise_row { display: flex; flex-flow: wrap; align-items: center; margin: 0 -15px;padding: 30px 0; }
.customise_box { width: calc(20% - 30px); padding: 0 15px; margin: 15px; }
.customise_thumbnail img {filter: drop-shadow(-10px 15px 20px rgba(0, 0, 0, 0.2)); display: inline-block;object-fit: cover;}
.customise_box_heading h4 { font-style: italic; }

/*ADD*/
.Add_section { padding: 80px 0; background: var(--three-background); }
.Add_row { display: flex; flex-flow: wrap; align-items: center; }
.Add_left { width: 50%; padding: 0 15px; }
.Add_right { width: 50%; padding: 0 15px; }
.Add_content {  color: var(--text-heading); margin-bottom: 20px; }
.Add_thumbnail img { display: block; object-fit: cover; } 

.Add_section .add_box { position: relative; height: 800px; }
.Add_section .add_box img { position: absolute; margin: auto; left: 0; right: 0; }
.Add_section .add_box img:nth-child(6) { bottom: 0; z-index: 1; }
.Add_section .add_box img:nth-child(5) { bottom: 19.33%; z-index: 2; }
.Add_section .add_box img:nth-child(4) { top: 0; bottom: 0; z-index: 3; }
.Add_section .add_box img:nth-child(3) { top: 23.33%; z-index: 4; }
.Add_section .add_box img:nth-child(2) { top: 3%; z-index: 5; }
.Add_section .add_box img:nth-child(1) { top: 0; z-index: 6; }




/*PIZZA DONE*/
.pizza_done_cover { text-align: center; }
.pizza_done_section { padding: 80px 0; background: var(--three-background); }
.pizza_done_row { display: flex; flex-flow: warp; justify-content: center; }
.pizza_done_thumbnail img { display: block; object-fit: cover; }



/*POULAR*/
.Popular_section { padding: 80px 0; }
.Popular_row { display: flex; flex-flow: wrap; align-items: center; padding-bottom: 50px; }
.Popular_left { width: 50%; padding: 0 15px; }
.Popular_right { width: 50%; padding: 0 15px; text-align: right; }
.Popular_btn a { font-family: 'Merriweather'; font-style: normal; font-weight: 900; font-size: 24px; line-height: 30px; letter-spacing: 0.05em; color: var(--text-heading); }
.Popular_btn i { font-size: 30px; padding: 0 0px 0 12px; color: var(--text-heading); }
.Popular_row_2 { display: flex; flex-flow: wrap; align-items: center; }
.Popular_box { width: calc(25% - 30px); margin: 15px; }
.Popular_cover { padding: 10px 10px; border: 1px solid #C5C5C5; border-radius: 20px; }
.Popular_img_with_icon { display: flex; align-items: center; flex-flow: wrap; padding-bottom: 20px; }
.Popular_img_with_icon img { width: 39%; }
.Popular_img_with_icon span.heart_icone a i { color: #999999; }
span.heart_icone { width: 61%; text-align: right; }
.Popular_box_heading h6 { font-size: 24px; line-height: 28px;padding-bottom: 8px; }
.Popular_content p { font-size: 14px; line-height: 20px; color: #999999; }
.Popular_box_bottom { display: flex; flex-flow: wrap; }
.Popular_price { width: 55%; }
.cart_icon { width: 45%; text-align: right; }
span.price_one { font-family: 'Merriweather'; font-style: normal; font-weight: 900; font-size: 18px; line-height: 23px; color: var(--text-heading); }
span.price_two { font-family: 'Merriweather'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 18px; text-decoration-line: line-through; color: #999999; padding-left: 8px; }
.cart_icon a i { padding: 10px; background: #FA582A; border-radius: 15px; color: #fff; transition: all 0.4s ease; }
.Popular_cover:hover .cart_icon a i{ background: #035C2C; transition: all 0.4s ease; }
.Popular_thumbnail { text-align: center; position: relative; }
.Popular_thumbnail:before { position: absolute; content: ""; top: auto; right: 0; left: 0; bottom: 0; width: 100%; height: 50%; background: #FFC223; border-radius: 15px; transition: all 0.4s ease;opacity: 0.15;z-index: -1; }
.Popular_thumbnail { padding: 20px 0; }
.Popular_img_with_icon { padding-top: 20px; }
.Popular_cover:hover .Popular_thumbnail:before { height: 100%;opacity: 1;  transition: all 0.4s ease; }
.Popular_cover:hover .Popular_img_with_icon span.heart_icone a i {color: red;}
.Popular_thumbnail img {width: 250px;height: 248px;object-fit: contain;}


/*AMRICAN PIZZA*/

.american_pizza_row { display: flex; flex-flow: wrap; align-items: center; padding: 30px 0 94px; }
.american_pizza_left { width: 45%; padding: 0 15px; position: relative; }
.american_pizza_right { width: 55%; padding: 0 15px; position: relative; }
.american_pizza_section { background-position: bottom; background-size: cover; background-repeat: no-repeat; padding: 133px 0; position: relative; }
.american_pizza_left:before { background-image: url(../images/50.png); background-position: top; background-repeat: no-repeat; left: auto; right: 0; top: -129px; bottom: auto; position: absolute; content: ""; background-size: cover; height: 198px; width: 219px; }
.american_pizza_right:before { background-image: url(../images/round.png); background-position: center; background-repeat: no-repeat; left: 0; right: auto; top: -165px; bottom: 0; position: absolute; content: ""; background-size: cover; height: 136px; width: 220px; }
.american_pizza_thumbnail img { display: block; object-fit: cover; }
.american_pizza_content {  color: var(--text-heading); }
.american_pizza_section:before { background-image: url(../images/rightshap.png); background-position: left center; background-repeat: no-repeat; left: 0; right: auto; top: 0; bottom: 0; position: absolute; content: ""; background-size: cover; height: 100%; width: 535px; }
.american_pizza_section:after { background-image: url(../images/pizzashap.png); background-position: right center; background-repeat: no-repeat; left: auto; right: 12px; top: auto; bottom: 179px; position: absolute; content: ""; background-size: cover; height: 226px; width: 166px; }

/*BURGER*/
.burger_section { padding: 119px 0; }
.burger_cover { background: #000000; padding: 39px 44px; border-radius: 20px; position: relative; z-index: 1; }
.burger_row { display: flex; flex-flow: wrap; align-items: center; position: relative; }
.burger_right { width: 50%; padding: 0 15px; text-align: center; }
.burger_left { width: 50%; padding: 0 15px; position: relative; }
.burger_caption h6 { color: #FFCF53; padding-bottom: 20px;font-style: italic; }
.burger_heading h2 { color: #fff;font-size: 70px;line-height: 75px; }
.burger_content {  color: #fff; max-width: 498px; margin: 0 auto; }
.burger_btn a { padding: 11px 27px; background: #FFCF53; color: #000; font-size: 16px; line-height: 20px; }
.button.burger_btn { padding-top: 20px; }
.burger_thumbnail img { filter: drop-shadow(-20px 10px 40px rgba(255, 255, 255, 0.15)); display: block; object-fit: cover;}
.burger_left:before { background-image: url(../images/Free-delivery.png); background-position: center; background-repeat: no-repeat; left: auto; right: -13px; top: -10px; bottom: auto; position: absolute; content: ""; background-size: cover; height: 194px; width: 159px; }
.burger_left:after { background-image: url(../images/Discount.png); background-position: center; background-repeat: no-repeat; left: 0; right: auto; top: -10px; bottom: auto; position: absolute; content: ""; background-size: cover; height: 194px; width: 159px; }
.burger_cover:before { background-image: url(../images/Group.png); background-position: center; background-repeat: no-repeat; left: -114px; right: 0px; top: -104px; bottom: 0; position: absolute; content: ""; background-size: cover; height: 276px; width: 300px; }
.burger_cover:after { background-image: url(../images/Spark.png); background-position: center; background-repeat: no-repeat; left: auto; right: 0px; top: 0; bottom: 0; position: absolute; content: "";border-radius: 20px; background-size: cover; height: 100%; width: 587px; z-index: -1; }




/*RATING*/
.rating_section { padding: 50px 0; }
.rating_row { display: flex; flex-flow: wrap; margin: 0 -10px; text-align: center; }
.rating_box { width: calc(100% / 3 - 20px); border: 2px dashed #e2e2e2; margin: 10px 10px; padding: 35px 20px; border-radius: 10px; transition: all 0.4s ease; }
.rating_box:hover { background: #f5f5f5; border-color: #fa582a; }
.rating_box h3 span {color: #035C2C;}
.rating_box h3 {font-weight: 700;font-family: unna;}





/*CHOOSE*/
.choose_heading { text-align: center; max-width: 800px; margin: 0 auto; }
.choose_row { display: flex; flex-flow: wrap; padding-top: 40px; margin: 0 -10px; text-align: center; justify-content: center; }
.choose_box { width: calc(100% / 3 - 20px); margin: 10px 10px; background: #fff; border-radius: 20px; padding: 20px 15px; transition:all 0.4s ease;}
.choose_section { background-position: top; background-size: cover; background-repeat: no-repeat; padding-top: 150px; padding-bottom: 50px; }
.choose_image img { max-width: 200px; padding-bottom: 12px; }
.choose_box_text { font-family: 'Merriweather'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 27px; text-align: center; letter-spacing: 0.8px; color: var(--text-heading); }
.choose_text { font-family: 'Merriweather'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 35px; text-align: center; letter-spacing: 0.8px; color: var(--text-heading); }
.choose_box:hover {background: #f95632;color: #fff; transition:all 0.4s ease;}
.choose_box:hover .choose_image img{ filter: brightness(0) invert(1);}
.choose_box:hover h4 {color: #ffffff;}
.choose_box:hover .choose_box_text {color: #ffffff;}



/*DELIVERY*/
.delivery_row { display: flex; flex-flow: wrap;align-items:center;  }
.delivery_left_part { width: 35%; padding-right: 10px; }
.delivery_center_part { width: 30%; text-align: center; padding: 0 10px; }
.delivery_right_part { width: 35%; text-align: right; padding-left: 10px; }
.delivery_section { padding: 50px 0; }
.delivery_text { padding: 20px 0; font-family: 'Merriweather'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 35px; letter-spacing: 0.8px; color: var(--text-heading); }
.delivery_row h2 {font-size: 60px;line-height: 69px;}
.delivery_btn a {padding: 11px 20px;background: #000;}


/*CUSTOMER BIO*/
.customer_row { display: flex; flex-flow: wrap; margin: 0 -15px; padding-top: 50px; }
.custmer_box { width: calc(100% / 3 - 30px); margin: 10px 15px; padding: 25px 25px; background: #f5f5f5; border-radius: 15px;height: auto !important;position: relative; }
.custmer_section { padding: 50px 0; }
.custmer_bio_box { display: flex; flex-flow: wrap; align-items: center; }
.custmer_image { width: 115px; margin-top: -70px; }
.custmer_name { width: calc(100% - 115px); padding-left: 20px; }
.custmer_image img { border-radius: 20px; object-fit: cover; width: 100%; }
.top_btn { padding: 8px 10px; background: #f95632; color: #fff; border-radius: 15px 0px 0px 15px; position: absolute; right: 0; left: auto; cursor: pointer;font-size: 14px;line-height: 21px; font-family: 'Merriweather', serif; font-weight: 400; }
.custmer_name h6 {  color: #000; font-size: 24px; line-height: 30px }
.customer_row .slick-track { padding-top: 60px; }
 .customer_row .slick-arrow { background: transparent; display: block; font-size: 0; height: 50px; padding: 0; position: absolute; top: -61px; width: 50px; z-index: 1; border: 1px solid #8c8c8f; border-radius: 100%; right: 91px; color: #8c8c8f;cursor: pointer; } 
.customer_row button.slick-next.slick-arrow { right: 25px; }
.customer_row button.slick-prev.slick-arrow:before { content: "\f177 "; font-size: 21px; font-family: 'FontAwesome'; line-height: 20px; }
.customer_row button.slick-next.slick-arrow:before { content: "\f178"; font-size: 19px; font-family: 'FontAwesome'; }
.customer_row .slick-arrow:hover { border-color: #f95632; }
.customer_row .slick-arrow:hover:before { color: #f95632; }
.custmer_text p { font-size: 14px; line-height: 21px; }


/*FOOTER*/
.footer_thumbnail { position: relative; }
.footer_cover { position: absolute; top: 64px; bottom: 0; right: 0; left: 0;    /* display: flex; */ }
.footer_cover { max-width: 744px; margin: 0 auto; text-align: center; }
.footer_section { background-size: cover; background-position: top; background-repeat: no-repeat; padding: 60px 0px; }
.footer_cover h2 { padding-bottom: 30px; }
.footer_row { display: flex; flex-flow: wrap; align-items: center; background: #000; padding: 17px 21px; border-radius: 19px 19px 0px 0px; margin-bottom: -59px; margin-top: 25px; }
.footer_left { width: 25%; }
.footer_thumbnail img { display: block; object-fit: cover; }
.footer_ceneter { width: 50%; text-align: center; }
.footer_right { width: 25%; text-align: right; }
.footer_content { text-align: center; color: #fff; }
.footer_icones ul { padding: 0; margin: 0; list-style: none; }
.footer_icones ul li { margin: 0 17px; display: inline-block; }
.footer_icones ul li a { color: #fff; font-size: 24px; line-height: 30px; transition: all 0.4s ease; }
.footer_row ul li a:hover { color: #fa582a; transition: all 0.4s ease; }
span.footer_color_chang { color: #035C2C; }
span.footer_chang_color { color: #FFCF53; }
.footer_cover h2 { color: #fff; }



/*our Product*/

.wisconsin_row { display: flex; flex-flow: wrap; align-items: center; }
.wisconsin_left { width: 50%; }
.wisconsin_heading h3 { padding-bottom: 15px; }
.wisconsin_heading h6 { padding-bottom: 8px; }
.wisconsin_content p { font-family: 'Merriweather'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 28px; max-width: 615px; }
.wisconsin_btn_row { display: flex; flex-flow: wrap; }
.button.wisconsin_btn { padding-right: 10px; }
.button.wisconsin_btn2 { padding-left: 10px; }
.button.wisconsin_btn a { background: transparent; font-size: 24px; line-height: 25px;/* identical to box height, or 104% */ letter-spacing: 0.05em; text-transform: uppercase; color: #1A1A1E; font-family: 'Merriweather'; font-weight: 900; }
.wisconsin_right { width: 50%; }
.wisconsin_section { padding: 80px 0; }
.button.wisconsin_btn2 a { background: var(--text-color-span);color: var( --text-heading); }
.button.wisconsin_btn2 a:hover {color: #fff;background: #4e966e;}
.button.wisconsin_btn2 a i {margin-right: 15px;}


/*discount*/
.discount_section {padding: 80px 0;}
.discount_heading { text-align: center; padding: 20px 20px; background: #FA582A; border-radius: 20px 20px 0px 0px; max-width: 881px; margin: 0 auto; text-transform: uppercase; }
.discount_heading h4 { color: #fff; }
span.discount_underline { color: #035C2C; border-bottom: 2px solid; }
.discount_row { display: flex; align-items: center; flex-flow: wrap; margin: 0 -15px; background: #F5F5F5; border-radius: 20px; }
.discount_colm { width: calc(25% - 30px); margin: 15px; }
.discount_thumbnail img { height: 150px;}
.discount_thumbnail:before { position: absolute; content: ""; right: 0; left: 0; top: auto; bottom: 0; width: 100%; height: 70%; z-index: -1; background: #FFFFFF; border-radius: 20px; }
.discount_thumbnail { position: relative; z-index: 1; text-align: center; }
.discount_colm { padding: 0 20px; position: relative; }
.discount_colm:before { position: absolute; content: "+"; right: -25px; top: 63%; bottom: 0; z-index: 13; font-size: 36px; font-weight: 800;color: #000; transform: translateY(-50%); width: 23px; height: 42px; }
.discount_colm:nth-child(3):before { content: "="; }
.button.discount_btn a { letter-spacing: .05em; text-transform: uppercase; color: #1a1a1e; background: none; font-family: Merriweather; font-size: 24px; font-weight: 900; line-height: 25px; }
.button.discount_btn2 a { background: var(--text-color-span); color: var(--text-heading); }
.button.discount_btn2 a i { margin-right: 15px; }
.button.discount_btn2 a:hover { color: #fff; background: #4e966e; }
.button.discount_btn { padding-bottom: 10px; }
.button.discount_btn2 { padding-top: 10px; }
.discount_colm:nth-child(4):before { display: none; }
.discount_btn_row {text-align: center;}





@media (max-width:1024px){
    
    /* section */
    h1 {font-size: 52px;line-height: 58px;}
    .Popular_box { width: calc(50% - 30px); }
    .custmer_box { width: calc(50% - 30px); margin-bottom: 63px; }
    .button.hero_second_btn{padding-left: 0;}
    .button.hero_second_btn a{padding: 0;}
    .our_food_section { display: none; }
    .burger_left:before { top: -77px; width: 122px; height: 150; }
    .burger_left:after { top: -89px; width: 110px; height: 133px; }
    .burger_cover:before { width: 128px; height: 139px; left: -8px; top: -87px; }
    .delivery_row h2 { font-size: 35px; line-height: 40px; }
    .button.hero_second_btn a i {width: 35px;height: 35px;font-size: 18px;}
    .button.hero_btn {padding:10px 0;}
    .button.hero_second_btn {padding: 10px 0;}
    .wisconsin_section { padding: 50px 0; }
    h3 { font-size: 40px; }
    h4 { font-size: 30px; }
    .discount_colm { width: calc(50% - 30px); margin-bottom: 28px; }
    .discount_colm:before { right:-9px; }
    .discount_section { padding: 50px 0; }
    .Production_menu ul li a { padding: 9px 20px; font-size: 12px; }
    .Production_left { width: 42%; }
    .Production_colm_2 { width: calc(50% - 30px); margin-bottom: 50px; }
    .Production_row_2 { padding: 10px 0px; }
    h2 { font-size: 40px; line-height: 45px; }
    .footer_cover h2 { padding-bottom: 10px; }
    p { font-size: 14px; line-height: 22px; }
    .footer_icones ul li { margin: 0 9px; }
    .Production_section { padding: 50px 0; }
    .footer_cover {top: -7px;max-width: 600px;}
    .Production_right {width: 58%;text-align: right;}
    .pizza_section {display: none;}
    .customise_box {width: calc(33.33% - 30px);}
    .customise_row {justify-content: center;}
}

@media (max-width:767px){
    .hero_left { width: 100%; padding-right: 0; }
    .hero_right { width: 100%; padding-left: 0; }
    .customise_box { width: 100%; }
    .Add_right { width: 100%; padding: 0;margin-bottom: 40px; }
    .Add_left { width: 100%; padding: 0; }
    .Add_section { padding: 50px 0; }
    .customise_section { padding: 50px 0; }
    .Popular_left { padding: 0; }
    .Popular_right { padding: 0; }
    .Popular_box { width: calc(100%); margin: 0 0 30px 0; }
    .american_pizza_left { width: 100%; padding: 0; margin-bottom: 51px; }
    .american_pizza_right { width: 100%; padding: 0; }
    .burger_right { width: 100%; padding: 0; margin-bottom: 45px; }
    .burger_left { width: 100%; padding: 0; }
    .burger_cover { padding: 10px 10px; }
    .burger_cover:before { display: none; }
    .burger_cover:after { display: none; }
    .burger_left:before { display: none; }
    .burger_left:after { display: none; }
    .rating_box { width: 100%; margin: 0; margin-bottom: 25px; }
    .choose_box { width: 100%; margin: 0; margin-bottom: 20px; }
    .delivery_left_part { width: 100%; padding-right: 0; text-align: center; margin-bottom: 10px; }
    .delivery_center_part { width: 100%; padding: 0; text-align: center; margin-bottom: 10px; }
    .delivery_right_part { width: 100%; padding: 0; text-align: center; margin-bottom: 20px; }
    .delivery_row h2 { font-size: 31px; line-height: 39px; }
    .custmer_box { width: calc(100%); margin-bottom: 63px; }
    .burger_section { padding: 50px 0; }
    .our_food_section { display: none; }
    .pizza_section { display: none; }
    .custmer_section { display: none; }
    .american_pizza_section:before { display: none; }
    .button_cover { justify-content: center; }
    .button.hero_second_btn { padding-left: 0; }
    .burger_heading h2 { font-size: 35px; line-height: 41px; }
    .wisconsin_left {width: 100%;margin-bottom: 20px;}
    .wisconsin_right { width: 100%;}
    h3 { font-size: 25px; }
    .discount_colm { width: calc(100% - 30px); margin-bottom: 28px; }
    h4 { font-size: 23px; }
    .Production_left { width: 100%; text-align: center; }
    .Production_right { width: 100%; }
    .Production_menu ul li { display: block; margin-bottom: 15px; }
    .Production_colm_2 { width: 100%; margin: 0 0 50px; }
    h2 { font-size: 35px;line-height: 41px; }
    .footer_left { width: 100%; text-align: center; padding-bottom: 22px; }
    .footer_ceneter { width: 100%; padding-bottom: 24px; }
    .footer_right { width: 100%; text-align: center; padding-bottom: 20px; }
    .footer_cover { position: static;}
    .discount_colm:before { right: 0;left: 180px;bottom: -61px;top: auto; }
    .choose_section {background-color: #eceff4;background-image: none !important;padding: 50px 0;}
    .Production_thumbnail img {margin: 0 auto;}
}